
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> MZ XRM -Sales
                <small class="pull-right">Date: 2/10/2014</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Invoice </b><br>
            <br>
            <b>Order ID:</b> 4F3S8J<br>
            <b>Customer Name:</b> Name Here<br>
            <b>Date:</b> 2/2/2017
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Samsung Mobile</td>
                        <td>Mobile Phones</td>
                        <td>10</td>
                        <td>50000</td>

                    </tr>
                    <tr>
                        <td>Samsung Mobile</td>
                        <td>Mobile Phones</td>
                        <td>10</td>
                        <td>50000</td>

                    </tr>
                    <tr>
                        <td>Samsung Mobile</td>
                        <td>Mobile Phones</td>
                        <td>10</td>
                        <td>50000</td>

                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-xs-6">
            <p class="lead">Amount Due 2/22/2014</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>25000</td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td>26000</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right">
                ok
            </button>
        </div>
    </div>
</section>
<!-- /.content -->


